.layout{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-container{
    width: 300px;
}

.layout-container-title{
    padding: 10px;
    border-bottom: 1px solid var(--border-color-base);
    text-align: center;
    font-size: var(--text-title);
}

.layout-container-form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-menu-li{
    width: 100px;
    display: flex;
}

.header-menu-li__a{
    text-align: center;
    flex-grow: 1;
    font-size: var(--text-base);
    background-color: var(--bg-base);
    color: var(--text-color-base);
    padding: 5px;
    border-radius: 5px;
    cursor:pointer;
    font-size: var(--text-base);
    box-shadow: 0px 4px 2px 1px #a8a8a875;
}

.form-input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border-color: var(--border-color-base);
}

.form-findbutton{
    text-align: right;
}

.form-movebutton{
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--bg-base);
    color: var(--text-color-base);
    border-radius: var(--radius-base);
    border-color: var(--bg-base);
    cursor:pointer;
    font-size: var(--text-sm);
}

.form-movebutton--disabled{
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #949494;
    color: gray;
    border-radius: var(--radius-base);
    border-color: gray;
    cursor:pointer;
    font-size: var(--text-sm);
}

/* ^^^^^^^^^^^^ 위쪽 라인 삭제 예정*/
/*__________ BEM __________*/

.base-button{
    width: 100%;
    text-align: center;
    font-size: var(--text-sm);
    padding: 10px 30px;
    background-color:var(--bg-base);
    color:var(--text-color-base);
    border-color: var(--bg-base);
    border-radius: var(--radius-base);
    cursor:pointer;
    box-shadow: 0px 2px 2px 1px #a8a8a875;
}

.base-button--gray{
    background-color:gray;
    border-color: gray;
}
.base-button--blue{
    background-color:blue;
}
.base-button--red{
    background-color:red;
}

.star{
    color: red;
}

.form{
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__title{
    padding: 10px;
    border-bottom: 1px solid black;
    color: #C26D53;
}

.form__container-simple{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form__container-simple__btns{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.form__container-double{
    display: flex;
    gap: 10px;
}

.form__container-double__input{
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
}

.form__container-double__button{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.form__container-double__button--disabled{
    background-color: gray;
}


.form__container-between{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form__container-between__wrap{
    flex-grow: 1;
}

.form__input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.form__regex-text{
    color: red;
    padding-top: 5px;
    padding-bottom: 5px;
}

.select{
    width: 100%;
    padding: 5px;
    border-color: var(--border-color-base);
    border-radius: 5px;
}









