.layout{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-container{
    width: 300px;
}

.layout-container-title{
    padding: 10px;
    border-bottom: 1px solid black;
}

.layout-container-form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-menu-li{
    width: 100px;
    display: flex;
}

.header-menu-li__a{
    text-align: center;
    flex-grow: 1;
    font-size: 16px;
    background-color:#B4B2FF;
    color:white;
    padding: 5px;
    border-radius: 5px;
    cursor:pointer;
}




.form-input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.form-findbutton{
    text-align: right;
}

.form-movebutton{
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color:#B4B2FF;
    color:white;
    border-radius: 5px;
    border-color: white;
    cursor:pointer;
    font-size: 12px;
}
.form-movebutton--disabled{
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #949494;
    color:white;
    border-radius: 5px;
    border-color: white;
    cursor:pointer;
    font-size: 12px;
}






