.mypage{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mypage__container{
    width: 500px;
    padding: 20px;
}

.mypage__title{
    padding: 10px;
    border-bottom: 1px solid black;
    color: #C26D53;
}

.mypage__list{
    display:flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.mypage__user-info{
    padding: 10px;
    border-bottom: 1px solid black;
}

.mypage-button{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}