.schedule{
    padding: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule__years{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.schedule__years__button{
    font-size: var(--text-title);
    display:flex;
    background-color: white;
    cursor: pointer;
}

.schedule__years__h2{
    font-size: var(--text-title);
}


.schedule__months{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.schedule-months-container{
    padding: 10px;
}

.schedule-months-container-li__button{
    width: 50px;
    height: 50px;
    border: 3px solid var(--bg-base);
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    
}
.schedule-months-container-li__button--current{
    background-color: var(--bg-base);
    color: var(--text-color-base);
}

.schedule-months-container-li__button:hover{
    background-color: var(--bg-base);
    color: var(--text-color-base);
}

.schedule__days{
    padding: 10px;
}

.schedule__days__title{
    padding: 10px;
    text-align: center;
}

.schedule__days__container{
    /*대기*/
}

.schedule-days-container-li{
    display: flex;
    width: 100%;
    text-align: center;
}

.schedule-days-container-li-div{
    width: 100px;
    height: 100px;
    border: 1px solid var(--border-color-base);
    margin: 2px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.schedule-days-container-li-div__day{
    padding: 3px;
    background-color: #A8A8A8;
    font-size: var(--text-sm)
}

.schedule-days-container-li-div__day--current{
    background-color: var(--bg-base);
    color: var(--text-color-base)
}


.schedule-days-container-li-div__daycount{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-base);
}




