.signup-inbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.signup-inbox-star{
    color: red;
}

.signup-inbox-container{
    width: 100%;
    display: flex;
    gap: 10px;
}

.signup-inbow-container--pw{
    flex-direction: column;
}

.signup-inbox-container-div{
    flex-grow: 1;
}

.signup-inbox-container-div__input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.signup-inbox-container-div__button{
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
.signup-inbox-container-div__button--disabled{
    background-color: #949494;
    color: gray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.signup-inbox-validation{
    color: red;
    padding-top: 5px;
    padding-bottom: 5px;
}
.signup-inbox-double{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.signup-inbox-double-container{
    flex-grow: 1;
}
.signup-inbox-double-container__select{
    width: 100%;
}




